{{ 'base-vegetable.css' | asset_url | stylesheet_tag }}
{{ 'grid-vegetable.css' | asset_url | stylesheet_tag }}
{{ 'style.css' | asset_url | stylesheet_tag }}
{{ 'responsive-vegetable.css' | asset_url | stylesheet_tag }}

<!-- {{ 'main.js' | asset_url | stylesheet_tag }} -->

<script src="{{ 'main.js' | asset_url }}" defer="defer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- hero section start -->
    <div class="hero container" id="save">
        <div class="hero__text df df__flex">
            {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'text' %}
                        <p class="text__sub hero__text-subheader">{{ block.settings.subheading }}</p>
                    {% when 'heading' %}
                        <p class="hero__text-header">{{ block.settings.heading }}</p>
                    {% when 'richtext' %}
                        <div class="text hero__text-des">{{ block.settings.description }}</div>
                    {% when 'button' %}
                        <a class="btn">{{ block.settings.button }}</a>
                {% endcase %}
            {% endfor %}
        </div>
        <div class="hero__img transition">
            <img src="{{ section.settings.image | img_url: 'master' }}"/>
        </div>
    </div>
    <!-- hero section end -->
    
{% schema %}
{
    "name": "Banner Vegetable",
    "class": "header__wrap",
    "settings":[ 
        {
            "type": "image_picker",
            "label": "Upload image",
            "id": "image"
        }
    ],
    "blocks": [
        {
            "type": "text",
            "name": "Discount Banner",
            "settings": [
                {
                    "type": "text",
                    "label": "Type discount",
                    "default": "Type discount",
                    "id": "subheading"
                }
            ]
        },
        {
            "type": "heading",
            "name": "Heading Banner",
            "settings": [
                {
                    "type": "text",
                    "label": "Type header",
                    "default": "Type header",
                    "id": "heading"                  
                }
            ]
        },
        {
            "type": "richtext",
            "name": "Description Banner",
            "settings": [
                {
                    "type": "richtext",
                    "label": "Type description",
                 
                    "id": "description"                  
                }
            ]
        },
        {
            "type": "button",
            "name": "Button Banner",
            "settings": [
            {
                    "type": "text",
                    "label": "Type button",
                    "default": "Shop now",
                    "id": "button"             
                }
            ]
        }
    ],
    "presets":[
        {
            "name": "Banner Vegetable",
            "blocks": [
                {
                    "type": "text"
                },
                {
                    "type": "heading"
                },
                {
                    "type": "richtext"
                },
                {
                    "type": "button"
                }
            ]
        }
    ]
}
{% endschema %}