
    <!-- hero section start -->
    <div class="hero container" id="save">
        <div class="hero__text df df__flex">
            {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'text' %}
                        <p class="text__sub hero__text-subheader">{{ block.settings.subheading }}</p>
                    {% when 'heading' %}
                        <p class="hero__text-header {{ block.settings.heading_size }}">{{ block.settings.heading }}</p>
                    {% when 'richtext' %}
                        <div class="text hero__text-des">{{ block.settings.description }}</div>
                    {% when 'button' %}
                        <a class="btn">{{ block.settings.button }}</a>
                {% endcase %}
            {% endfor %}
        </div>
        <div class="hero__img transition">
            <img src="{{ section.settings.image | img_url: 'master' }}"/>
        </div>
    </div>
    <!-- hero section end -->
    
{% schema %}
{
    "name": "Banner Vegetable",
    "class": "header__wrap",
    "settings":[ 
        {
            "type": "image_picker",
            "label": "Upload image",
            "id": "image"
        }
    ],
    "blocks": [
        {
            "type": "text",
            "name": "Discount Banner",
            "settings": [
                {
                    "type": "text",
                    "label": "Type discount",
                    "default": "Type discount",
                    "id": "subheading"
                }
            ]
        },
        {
            "type": "heading",
            "name": "Heading Banner",
            "settings": [
                {
                    "type": "text",
                    "label": "Type header",
                    "default": "Type header",
                    "id": "heading"                  
                },
                {
                    "type": "select",
                    "id": "heading_size",
                    "options": [
                        {
                            "value": "h2",
                            //"label": "t:sections.all.heading_size.options__1.label"
                            "label": "Small"
                        },
                        {
                            "value": "h1",
                            //"label": "t:sections.all.heading_size.options__2.label"
                            "label": "Medium"
                        },
                        {
                            "value": "h0",
                            //"label": "t:sections.all.heading_size.options__3.label"
                            "label": "Large"
                        }
                    ],
                    "default": "h1",
                    "label": "t:sections.all.heading_size.label"
                }
            ]
        },
        {
            "type": "richtext",
            "name": "Description Banner",
            "settings": [
                {
                    "type": "richtext",
                    "label": "Type description",
                 
                    "id": "description"                  
                }
            ]
        },
        {
            "type": "button",
            "name": "Button Banner",
            "settings": [
            {
                    "type": "text",
                    "label": "Type button",
                    "default": "Shop now",
                    "id": "button"             
                }
            ]
        }
    ],
    "presets":[
        {
            "name": "Banner Vegetable",
            "blocks": [
                {
                    "type": "text"
                },
                {
                    "type": "heading"
                },
                {
                    "type": "richtext"
                },
                {
                    "type": "button"
                }
            ]
        }
    ]
}
{% endschema %}