

{{ 'base-vegetable.css' | asset_url | stylesheet_tag }}
{{ 'grid-vegetable.css' | asset_url | stylesheet_tag }}
{{ 'style.css' | asset_url | stylesheet_tag }}
{{ 'responsive-vegetable.css' | asset_url | stylesheet_tag }}

<!-- {{ 'main.js' | asset_url | stylesheet_tag }} -->

<script src="{{ 'main.js' | asset_url }}" defer="defer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- hero section start -->
    <div class="hero container" id="save">
        <div class="hero__text df df__flex">
            <!-- <p class="text__sub hero__text-subheader">Save up 30% off</p> -->
            <p class="text__sub hero__text-subheader">{{ section.settings.subheading }}</p>

            <!-- <h1 class=" hero__text-header">Bengal Vegetable Farm Organic 100%</h1> -->
            <h1 class=" hero__text-header">{{ section.settings.heading }}</h1>

            <!-- <div class="text hero__text-des">Shujaa is a mobile platform that enables you to connect with your family and friends anywhere at anytime.</div> -->
            <div class="text hero__text-des">{{ section.settings.description }}</div>
            
            <!-- <a class="btn" href="#shop">Shop now</a> -->
            <a class="btn" href="#shop">{{ section.settings.button }}</a>
        </div>
        <div class="hero__img transition">
            <!-- <img src="https://hichaocau.github.io/Figma__vegetables/assets/imgs/img-heroo.png" alt=""> -->
            <!-- render -->
            {% for block in section.blocks %}
            <img src="{{ block.settings.image | img_url: 'master' }}"/>
            {% endfor %}
        </div>
    </div>
    <!-- hero section end -->
    
{% schema %}
{
    "name": "Header Vegetable",
    "class": "header__wrap",
    "settings":[
        {
            "type": "text",
            "label": "Type name shop",
            "id": "nameshop"
        },
        {
            "type": "text",
            "label": "Type discount",
            "id": "subheading"
        },
        {
            "type": "text",
            "label": "Type header",
            "id": "heading"
        },
        {
            "type": "richtext",
            "label": "Type description",
            "id": "description"
        },
        {
            "type": "text",
            "label": "Type name button",
            "id": "button"
        }
    ],
    "blocks": [
        {
            "type": "image",
            "name": "hero image",
            "settings": [
                {
                    "type": "image_picker",
                    "label": "Bấm vào đây để tải ảnh",
                    "id": "image"
                }
            ]
        }
    ],
    "presets":[
        {
            "category": "image",
            "name": "Banner Vegetable"
        }
    ]
    }
{% endschema %}