
<div class="header__wrap transition">
    <div class="header container">
        <div class="header__list-wrap df">
            <div class="header__logo df df__unset">
                {% if section.settings.logo == blank and section.settings.nameshop != blank %}
                    <a href="{{ section.settings.menu.links[0].url }}">{{ section.settings.nameshop }}</a>
                    <img class=" {% if section.settings.nameshop == blank %} none {% endif %}" src="https://hichaocau.github.io/Figma__vegetables/assets/imgs/icon-logo.svg" alt="">
                {% elsif section.settings.logo == blank and section.settings.nameshop == blank %}  
                    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {% else %}
                    <img class="header__logo-img" src="{{ section.settings.logo| img_url: '100x100' }}" alt="">
                {% endif %}           
            </div>
            <div class="header__list-btn translate100 df">
                <ul class="header__list df">
                    {% for link in section.settings.menu.links %}
                        <li class="header__item header__item--wrap">
                            <span class="header__item-home df">
                                <a class="text" href="{{ link.url }}">{{ link.title }}</a>
                                {% if link.links.size > 0 %}
                                    <img src="https://hichaocau.github.io/Figma__vegetables/assets/imgs/arrow-down.svg" alt="">
                                {% endif %}
                            </span>
                            {% if link.links.size > 0 %}
                            <ul class="header__item-navbar">
                                {% for child_link in link.links %}
                                <li class="header__item-navbar--item"">
                                    <a class="text" href="{{ child_link.url }}">{{ child_link.title }}</a>
                    
                                    {% if child_link.links.size > 0 %}
                                    <!-- <ul class="menu dropdown-grandchild">
                                        {% for grandchild_link in child_link.links %}
                                        <li class="header__item">
                                            <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                                        </li>
                                        {% endfor %}
                                    </ul> -->
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <div class="header__btn df {% if section.settings.options_form == "hide" %} none {% endif %}">
                    <a href="{{ routes.account_url }}" class="header__btn-first btn ">Login</a>
                    <a href="{{ routes.account_register_url }}" class="header__btn-second btn">Sign Up</a>
                </div>           
        
            </div>
            <div class="header__menu hide-on-pc ">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Header Vegetable",
    "class": "main",
    "settings":[
        {
            "type": "text",
            "label": "Type name shop",
            "default": "Name Shop",
            "id": "nameshop"
        },
        {
            "type": "image_picker",
            "label": "Image logo",
            "id": "logo"
        },
        {
            "type": "link_list",
            "id": "menu",
            "default": "main-menu",
            "label": "Menu"
        },
        {
            "type": "radio",
            "id": "options_form",
            "label": "Validator form",
            "options": [
                {
                    "value": "form",
                    "label": "Login Register"
                },
                {
                    "value": "hide",
                    "label": "None"
                }
            ],
            "default": "form"

        }
    ],
    "presets":[
        {
            "category": "image",
            "name": "Header Vegetable"
        }
    ]
    }
{% endschema %}