<!-- feauted section start -->
<div class="feauted container">
    <div class="feauted__header category__header">
        <h2 class="text__header">{{ section.settings.feauted_header }}</h2>
    </div>
    <div class="feauted__list">
        <div class="row category__list-slider">
            {%- if section.settings.collection.products == blank -%}
                {%- for i in (1..5) -%}
                    <div class="col l-3 m-3 c-3">
                        <div class="feauted__item-wrap">
                            <div class="category__item category__item-blank feauted__item">
                                <div class="category__item-img feauted__item-img">
                                    {{ 'collection-4' | placeholder_svg_tag: 'placeholder-svg' }}
                                </div>  
                                <div class="feauted__item-sale">
                                    <span class="text">Sale</span>
                                </div>  
                            </div>
                        </div>
                        <div class="feauted__item-info">
                            <h3 class="feauted__info-name text__sub">Product Name</h3>
                            <div class="feauted__info-star--wrap df__center df">
                                <div class="feauted__info-star--list df">
                                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.50001 1.66663L12.075 6.88329L17.8333 7.72496L13.6667 11.7833L14.65 17.5166L9.50001 14.8083L4.35001 17.5166L5.33334 11.7833L1.16667 7.72496L6.92501 6.88329L9.50001 1.66663Z" fill="#B77B04" stroke="#B77B04" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.50001 1.66663L12.075 6.88329L17.8333 7.72496L13.6667 11.7833L14.65 17.5166L9.50001 14.8083L4.35001 17.5166L5.33334 11.7833L1.16667 7.72496L6.92501 6.88329L9.50001 1.66663Z" fill="#B77B04" stroke="#B77B04" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.50001 1.66663L12.075 6.88329L17.8333 7.72496L13.6667 11.7833L14.65 17.5166L9.50001 14.8083L4.35001 17.5166L5.33334 11.7833L1.16667 7.72496L6.92501 6.88329L9.50001 1.66663Z" fill="#B77B04" stroke="#B77B04" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.50001 1.66663L12.075 6.88329L17.8333 7.72496L13.6667 11.7833L14.65 17.5166L9.50001 14.8083L4.35001 17.5166L5.33334 11.7833L1.16667 7.72496L6.92501 6.88329L9.50001 1.66663Z" fill="#B77B04" stroke="#B77B04" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.50001 1.66663L12.075 6.88329L17.8333 7.72496L13.6667 11.7833L14.65 17.5166L9.50001 14.8083L4.35001 17.5166L5.33334 11.7833L1.16667 7.72496L6.92501 6.88329L9.50001 1.66663Z" fill="#B77B04" stroke="#B77B04" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>
                                <span class="text">(Num)</span>
                            </div>
                            <div class="feauted__info-price df__center df">
                                <p class="text__style feauted__info-price--sale">$100.00</p>
                                <p class="text__style feauted__info-price--old">$200.00</p>
                            </div>
                            <button class="feauted__info-btn df__center df">
                                <span class="text__style">Add to Cart</span>
                            </button>
                        </div>
                    </div>
                {%- endfor -%}
            
            {%- elsif section.settings.collection.products != blank -%}         
                {% for product in section.settings.collection.products %}
                    <div class="col l-3 m-3 c-3">
                        <div class="feauted__item-wrap">
                            <div class="category__item feauted__item">
                                <div class="category__item-img feauted__item-img">
                                    <img src="{{ product.featured_image | image_url: width: 300 }}">
                                </div>    
                                <div class="feauted__item-sale">
                                    {% if  product.compare_at_price > product.price %}
                                    <span class="text">{{ product.compare_at_price | minus: product.price | times: 100 | divided_by: product.compare_at_price }}%</span>
                                    {% else %}
                                    <span class="none" ></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="feauted__item-info">
                            <h3 class="feauted__info-name text__sub">{{ product.title }}</h3>
                            <div class="feauted__info-star--wrap df__center df">
                                <div class="feauted__info-star--list df">
                                    <svg class="{% if section.settings.star == "four" or section.settings.star == "three" or section.settings.star == "two" or section.settings.star == "one" %} none {% endif %}" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.50001 1.66663L12.075 6.88329L17.8333 7.72496L13.6667 11.7833L14.65 17.5166L9.50001 14.8083L4.35001 17.5166L5.33334 11.7833L1.16667 7.72496L6.92501 6.88329L9.50001 1.66663Z" fill="#B77B04" stroke="#B77B04" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <svg class="{% if section.settings.star == "three" or section.settings.star == "two" or section.settings.star == "one" %} none {% endif %}" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.50001 1.66663L12.075 6.88329L17.8333 7.72496L13.6667 11.7833L14.65 17.5166L9.50001 14.8083L4.35001 17.5166L5.33334 11.7833L1.16667 7.72496L6.92501 6.88329L9.50001 1.66663Z" fill="#B77B04" stroke="#B77B04" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <svg class="{% if section.settings.star == "two" or section.settings.star == "one" %} none {% endif %}" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.50001 1.66663L12.075 6.88329L17.8333 7.72496L13.6667 11.7833L14.65 17.5166L9.50001 14.8083L4.35001 17.5166L5.33334 11.7833L1.16667 7.72496L6.92501 6.88329L9.50001 1.66663Z" fill="#B77B04" stroke="#B77B04" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <svg class="{% if section.settings.star == "one" %} none {% endif %}" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.50001 1.66663L12.075 6.88329L17.8333 7.72496L13.6667 11.7833L14.65 17.5166L9.50001 14.8083L4.35001 17.5166L5.33334 11.7833L1.16667 7.72496L6.92501 6.88329L9.50001 1.66663Z" fill="#B77B04" stroke="#B77B04" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.50001 1.66663L12.075 6.88329L17.8333 7.72496L13.6667 11.7833L14.65 17.5166L9.50001 14.8083L4.35001 17.5166L5.33334 11.7833L1.16667 7.72496L6.92501 6.88329L9.50001 1.66663Z" fill="#B77B04" stroke="#B77B04" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>

                                <!-- review customer -->
                                <!-- <div id="shopify-product-reviews" data-id="{{ product.id }}">{{ product.metafields.spr.reviews }}</div> -->
                                <span class="text">( {{ section.settings.number_star }} )</span>
                            </div>
                            <div class="feauted__info-price df__center df">
                                <p class="text__style feauted__info-price--sale">{{ product.price | money }}</p>
                                <p class="text__style feauted__info-price--old">{{ product.compare_at_price | money }}</p>
                            </div>
                            <!-- form add to cart -->
                            <form method="post" action="/cart/add">
                                <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                                <input class="none" min="1" type="number" id="quantity" name="quantity" value="1"/>
                                <button type="submit" name="add" class="feauted__info-btn df__center df">
                                    <span class="text__style">Add to Cart</span>
                                    <i class="bi bi-cart3"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {%- endif -%}

        </div>
    </div>
</div>
<!-- feauted section end -->

{% schema %}
{
    "name": "Feauted Vegetable",
    "settings": [
        {
            "type": "text",
            "label": "Heading",
            "id": "feauted_header",
            "default": "Feauted Product"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Select collection"
        },
        {
            "type": "radio",
            "id": "star",
            "label": "Rate Star",
            "options": [
                {
                    "label": "One Star",
                    "value": "one"
                },
                {
                    "label": "Two Star",
                    "value": "two"
                },
                {
                    "label": "Three Star",
                    "value": "three"
                },
                {
                    "label": "Four Star",
                    "value": "four"
                },
                {
                    "label": "Five Star",
                    "value": "five"
                }
            ]
        },
        {
            "type": "number",
            "id": "number_star",
            "label": "Number Star",
            "default": 100
        }
    ],
    "presets": [
        {
            "name": "Feauted Vegetable"
        }
    ]
}
{% endschema %}