<!-- customer section start -->
<div class="customer__wrap container" id="blog">
    <div class="customer__header">
        <h2 class="text__header">{{ section.settings.heading }}</h2>
    </div>
    <div class="customer__list">
        <div class="row customer__list-slider">
            {% for block in section.blocks %}
                <div class="col l-4 m-4 c-4">
                    <div class="customer__item">
                        <div class="customer__item-icon">
                            <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.5 14.25V9.25M26.75 3H4.25V23H10.5V28L15.5 23H21.75L26.75 18V3ZM14.25 14.25V9.25V14.25Z" stroke="#118D57" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                
                            <div class="customer__item-icon--star df">
                                <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.50001 1.66663L12.075 6.88329L17.8333 7.72496L13.6667 11.7833L14.65 17.5166L9.50001 14.8083L4.35001 17.5166L5.33334 11.7833L1.16667 7.72496L6.92501 6.88329L9.50001 1.66663Z" fill="#B77B04" stroke="#B77B04" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.50001 1.66663L12.075 6.88329L17.8333 7.72496L13.6667 11.7833L14.65 17.5166L9.50001 14.8083L4.35001 17.5166L5.33334 11.7833L1.16667 7.72496L6.92501 6.88329L9.50001 1.66663Z" fill="#B77B04" stroke="#B77B04" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                                <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.50001 1.66663L12.075 6.88329L17.8333 7.72496L13.6667 11.7833L14.65 17.5166L9.50001 14.8083L4.35001 17.5166L5.33334 11.7833L1.16667 7.72496L6.92501 6.88329L9.50001 1.66663Z" fill="#B77B04" stroke="#B77B04" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.50001 1.66663L12.075 6.88329L17.8333 7.72496L13.6667 11.7833L14.65 17.5166L9.50001 14.8083L4.35001 17.5166L5.33334 11.7833L1.16667 7.72496L6.92501 6.88329L9.50001 1.66663Z" fill="#B77B04" stroke="#B77B04" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.50001 1.66663L12.075 6.88329L17.8333 7.72496L13.6667 11.7833L14.65 17.5166L9.50001 14.8083L4.35001 17.5166L5.33334 11.7833L1.16667 7.72496L6.92501 6.88329L9.50001 1.66663Z" fill="#B77B04" stroke="#B77B04" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>
                        <div class="customer__item-des">
                            <p class="text">{{ block.settings.description }}</p>
                        </div>
                        <div class="customer__item-user df df__unset">
                            {%- if block.settings.img != blank -%}
                                <img alt="" src="{{block.settings.img | img_url: 'compact'}}">
                            {%- elsif block.settings.img == blank -%}
                                {{ 'collection-3' | placeholder_svg_tag: 'placeholder-svg' }}
                            {%- endif -%}
                                <div class="customer__item-user--name df df__flex">
                                    <span class="text">{{ block.settings.name }}</span>
                                    <span class="text">{{ block.settings.career }}</span>
                                </div>
                            </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- customer section end -->

{% schema %}
{
    "name": "Customer Vegetable",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Why customer love us ?"
        }
    ],
    "blocks": [
        {
            "name": "Review",
            "type": "block",
            "settings": [
                {
                    "type": "text",
                    "label": "Description",
                    "id": "description",
                    "default": "Blood bank canine teeth larynx occupational therapist oncologist optician plaque spinal tap stat strep screen violence joints symptoms x-ray yawn. Contagious cough diabetes mellitus..."
                },
                {
                    "type": "image_picker",
                    "label": "Customer's photo",
                    "id": "img"
                },
                {
                    "type": "text",
                    "label": "Name customer",
                    "id": "name",
                    "default": "Ann Smith"
                },
                {
                    "type": "text",
                    "label": "Career",
                    "id": "career",
                    "default": "Photographer"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Customer Vegetable",
            "blocks":[
                {
                    "type": "block"
                },
                {
                    "type": "block"
                },
                {
                    "type": "block"
                }
            ]
        }
    ]
}
{% endschema %}