

<!-- category section start -->

<div class="category container" id="category">
    <div class="category__header">
        <h2 class="text__header {{ section.settings.category_header_size }}">{{ section.settings.category_header }}</h2>
    </div>
    <div class="category__list-wrap bd">
        <div class="row category__list-slider mb60">
            {% for block in section.blocks %}
                <div class="col l-3 m-3 c-6">
                    <div class="category__item mb40">
                        <div class="category__item-img">
                            <a href="{{ block.settings.collection.url }}">
                                {%- if block.settings.collection != blank -%}
                                    <img src="{{ block.settings.collection.image | img_url: 'master' }}"/>
                                {%- else -%}
                                    {{ 'collection-4' | placeholder_svg_tag: 'placeholder-svg' }}
                                {%- endif -%}
                            </a>
                        </div>
                        {%- if block.settings.collection != blank -%}
                            <a class="category__item-name text__sub" href="{{ block.settings.link }}">{{ block.settings.collection.title }}</a>
                        {%- else -%}
                            <a class="category__item-name text__sub" href="{{ block.settings.link }}">Name Collection</a>
                        {%- endif -%}
                    </div>
                </div>
            {% endfor %}           
        </div>       
    </div>
</div>
<!-- category section end -->



{% schema %}
{
    "name": "Category Vegetable",
    "settings":[
        {
            "type": "text",
            "label": "Heading",
            "id": "category_header",
            "default": "Search by Category"
        },
        {
            "type": "select",
            "id": "category_header_size",
            "label": "Heading size",
            "default": "h1",
            "options": [
                {
                    "value": "h2",
                    "label": "Small"
                },
                {
                    "value": "h1",
                    "label": "Medium"
                },
                {
                    "value": "h0",
                    "label": "Large"
                }
            ]
        }
    ],
    "blocks": [
    {
      "type": "collection_item",
      "name": "Collection",
      "settings": [
        {
            "type": "collection",
            "id": "collection",
            "label": "Select collection"
        }
      ]
    }
    ],
    "presets":[
        {
            "name": "Category Vegetable",
            "blocks":[
                {
                    "type": "collection_item"
                },
                {
                    "type": "collection_item"
                },
                {
                    "type": "collection_item"
                },
                {
                    "type": "collection_item"
                },
                {
                    "type": "collection_item"
                }
            ]
        }
    ]
}
{% endschema %}